@import "../../assets/constants/constants.scss";

.basic-box-btn {
  background-color: $chess-light;
  color: $dark-brown;
  border: 5px solid $dark-brown;
  border-radius: 15px;
  font-size: 40px;
  font-weight: 600;
  box-shadow: 0px 5px 0px 0px $dark-brown;

  &:hover {
    background-color: $light-skin-shadow;
  }
  &:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px $dark-brown;
  }
  &:disabled {
    transform: translateY(5px);
    
    background-color: $light-skin;
  }
}
