@import "../../assets/constants/constants.scss";

.play-container {
  width: 100%;
  height: calc(100vh - $header-height);
  // border: 1px solid $dark-brown;

  display: flex;
  align-items: center;
  justify-content: center;

  .play-box {
    height: 80%;
    width: $content-width;

    background-color: $light-skin;
    color: $dark-brown;
    border: 5px solid $dark-brown;
    border-radius: 20px;

    display: flex;
    align-items: center;

    .play-chessboard-container {
      aspect-ratio: 1 / 1;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      .play-chessboard-box {
        aspect-ratio: 1 / 1;
        width: 80%;
        display: flex;
        align-items: center;
      }
    }
    .play-text-container {
      padding: 0 20px;

      width: 50%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 75% 25%;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .play-color-box {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .basic-box-btn {
          width: 90%;
          height: 20%;
        }
      }

      .play-level-box {
        grid-area: 1 / 2 / 2 / 3;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .basic-box-btn {
          width: 90%;
          height: 20%;
        }
      }

      .play-button-box {
        grid-area: 2 / 1 / 3 / 3;

        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .button-half-box {
          width: 50%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;

          .basic-box-btn {
            width: 90%;
            height: 60%;
          }
        }
      }
    }
  }
}
