@import "../../assets/constants/constants.scss";

.article-preview {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 200px;
  border: 2px solid $dark-brown;
  border-radius: 10px;
  background-color: $light-skin;
  color: $dark-brown;

  display: flex;

  &:hover {
    box-shadow: 1px 1px 5px $dark-brown;
    background-color: rgb(194, 179, 168);
  }

  img {
    display: block;
    height: 100%;
    aspect-ratio: 1 / 1;
    user-select: none;
  }

  .article-content {
    h2 {
      font-weight: bold;
      font-size: 40px;
    }
    p {
      line-height: 1.5;
      font-size: 25px;
    }
  }
}
