@import "../../assets/constants/constants.scss";

.puzzle-container {
  width: 40%;
  height: calc(100vh - $header-height);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  .puzzle-box {
    position: relative;
    width: 100%;
    padding: 5%;
    aspect-ratio: 1 / 1.25;
    z-index: 1;
    background-color: $light-skin;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .puzzle-chessboard-box {
      width: 100%;
      aspect-ratio: 1 / 1;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .puzzle-chessboard {
        width: 100%;
        aspect-ratio: 1 / 1;
      }
    }
    .puzzle-msg {
      flex-grow: 1;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}
