@import "../../assets/constants/constants.scss";

.puzzles-list {
    width: $content-width;
    min-height: calc(100vh - $header-height);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}