@import "../../assets/constants/constants.scss";


hr {
  width: $content-width;
  border: 2px solid $dark-cyan;
  border-radius: 5px;
}

article {
  width: $content-width;
  height: 100%;
  color: $dark-cyan;
  font-size: 25px;

  .button-back {
    position: absolute;
    top: calc($header-height + 1rem + 0.83rem);
    right: 10%;
    aspect-ratio: 2 / 1;
    height: 50px;
    font-size: 25px;
    background-color: $dark-cyan;
    color: $light-cyan;
    border: 2px solid $light-cyan;
    border-radius: 10px;

    &:hover {
      box-shadow: 1px 1px 10px $dark-cyan;
    }
  }

  div {
    font-size: 1em;
    margin-block-start: 1rem;
    margin-block-end: 1rem;

    h1 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
      line-height: 40px;
    }
    img {
      width: 100%;
      height: auto;
      max-height: 60vh;
      object-fit: contain;
    }
  }
}
