@import "../../assets/constants/constants.scss";

footer {
  position: relative;
  width: 100%;
  min-height: 150px;
  padding-bottom: 15px;

  background-color: $dark-cyan;
  color: $light-cyan;

  display: flex;
  align-items: center;
  justify-content: center;

  .footer-box {
    width: $content-width;
    height: 95%;

    display: flex;
    justify-content: space-evenly;

    .footer-section {
      flex-grow: 1;
      font-size: 18px;
      .footer-section-heading {
        margin: 10px 0;
        font-weight: normal;
        font-size: 23px;
      }
      .footer-section-link-box {
        margin: 1px 0;

        .footer-section-link {
          margin: 10px 0;

          font-family: "Roboto Regular";

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .footer-section-tile {
        margin: 4px 0;

        width: fit-content;
        height: 36px;

        display: flex;
        align-items: center;
        justify-content: left;

        img {
          height: 100%;
          width: fit-content;
          aspect-ratio: 1 / 1;
        }
        span {
          margin-left: 5px;
          flex-grow: 1;
          text-align: center;
        }
      }
    }
  }
}
