$dark-cyan: #2e4646;
$light-cyan: #95b1af;
$light-cyan-shadow: #769894;
$lighter-brown: #554a3e;
$dark-brown: #4d3d33;
$light-skin: #d5c4b9;
$light-skin-shadow: #bdab9f;
$chess-light: #f0d9b5;
$chess-dark: #b58863;   
$error: #9c2400;
$zero: 0;

$header-height: 80px;
$content-width: 80%;

@media (screen: 1369px) {
  $content-width: 100%
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../font/Roboto-Regular.ttf");
}
body {
  margin: 0;
  background-color: $light-cyan;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul {
  font-family: "Roboto Regular";
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.container {
  width: calc(100vw - (100vw - 100%));
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  margin-top: $header-height;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: calc(100vh - $header-height);
  // overflow-y: scroll;
}
.main-content {
  width: $content-width;
  min-height: calc(100vh - $header-height);
}
p {
  display: block;
  margin-block-start: $zero;
  margin-block-end: $zero;
  margin-inline-start: $zero;
  margin-inline-end: $zero;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: $zero;
  margin-block-end: $zero;
  margin-inline-start: $zero;
  margin-inline-end: $zero;
  padding-inline-start: $zero;
}

li {
  display: block;
  text-align: left;
}
img {
  -webkit-user-drag: none;
  user-select: none;
}