@import "../../assets/constants/constants.scss";

.introduction-box {
  margin: 1% 0;
  width: 100%;
  padding: 5px;
  height: 95%;
  //   border: 1px solid $dark-brown;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #324b4a;

  .chessboard-box {
    margin-right: 2%;
    aspect-ratio: 1 / 1;
    height: 80%;
    display: flex;
    align-items: center;
  }
  .text-box {
    margin-left: 2%;
    height: 100%;
    // border: 1px solid $dark-brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
    }
  }
}
